<!DOCTYPE html>
<html>

<head>
  <title>NovaLeaf</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%/* <meta name="robots" content="noindex"> */%>

  <!-- Stylesheets and Preprocessors -->

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/importer.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/intended_customers.css">
  <link rel="stylesheet" href="/styles/jquery.DonutWidget.min.css">
  <link rel="stylesheet" href="/styles/jquerysctipttop.css">
  <link rel="stylesheet" href="/styles/linearicons.css">
  <link rel="stylesheet" href="/styles/magnific-popup.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/nice-select.css">
  <link rel="stylesheet" href="/styles/owl.carousel.css">
  <link rel="stylesheet" href="/styles/timeline.css">
  <!--STYLES END-->

  <style>
    .bg-dark {
      background: linear-gradient(to right, #00897b, #43a047) !important;
    }

    .modal-body {
      color: black;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="/images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white lnr lnr-menu"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/kids">Kids</a></li>
          <li><a href="/adults">Adults</a></li>
          <li><a href="/camps">Camps</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/birthday">Party Design</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/sign-in">Sign-in</a>
              <a class="dropdown-item" href="/time-table">Time Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- body %>

  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3 style="color:#a0a7ac;">Kids</h3>
            <ul>
              <li><a href="#">Programs</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Camps</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3 style="color:#a0a7ac;">Adults</h3>
            <ul>
              <li><a href="#">IELTS</a></li>
              <li><a href="#">Resume Writing</a></li>
              <li><a href="#">Mock Interviews</a></li>
            </ul>
          </div>
          <div class="col-md-3 item text">
            <h3 style="color:#a0a7ac;">Reach us at</h3>
            <p>(902) 420-1643</p>
            <p>info@novaleafedu.com</p>
          </div>
          <div class="col-md-3 item text">
            <!-- PayPal Logo -->
            <table border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td align="center"></td>
              </tr>
              <tr>
                <td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
                    onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                      src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0"
                      alt="Secured by PayPal"></a>
                </td>
              </tr>
            </table><!-- PayPal Logo -->
          </div>
          <div class="col item social">
            <a href="https://www.facebook.com/NovaleafHalifax/" target="_blank">
              <i class="icon ion-social-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank">
              <i class="icon ion-social-twitter"></i></a>
            <a href="https://www.instagram.com/novaleaf.academy/" target="_blank">
              <i class="icon ion-social-instagram"></i></a>
          </div>
        </div>
        <p class="copyright">
          <font size="4" face="Arial">NovaLeaf © 2019</font>
        </p>

        <!-- Button trigger modal -->
        <center><a href="#" data-toggle="modal" data-target="#exampleModalLong">Privacy Policy</a></center>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">NovaLeaf Program Policy Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                By enrolling my child, I agree and consent to the following:<br><br>

                <h6>A. GENERAL POLICY</h6>
                <b style="color:#00897b; font-size:1rem;">1.</b> NOVALEAF INTERNATIONAL EDUCATION INC. is not responsible for the safety of students outside of the
                scheduled class time. Please drop-off and pick-up your child on time.<br>
                <b style="color:#00897b; font-size:1rem;">2.</b> Parents and visitors are not permitted in the classroom without permission from NOVALEAF
                INTERNATIONAL EDUCATION INC staff. Please wait outside while dropping-off and picking-up your child.<br>
                <b style="color:#00897b; font-size:1rem;">3.</b> No food, drinks. Cellular phones, cameras and recording devices in the classroom.<br>
                <b style="color:#00897b; font-size:1rem;">4.</b> Photographs and video-recording by parents are not permitted in the classroom<br>
                <b style="color:#00897b; font-size:1rem;">5.</b> No classes will be held on statutory holidays. Classes are held during regular school breaks.<br>
                <b style="color:#00897b; font-size:1rem;">6.</b> In the event of an accident or injury during class time, I authorize NOVALEAF INTERNATIONAL EDUCATION
                INC. to provide or cause to be provided such medical services as NOVALEAF INTERNATIONAL EDUCATION INC
                staff consider appropriate.<br><br>

                <h6>B. COURSE POLICY</h6>
                <b style="color:#00897b; font-size:1rem;">7.</b> One (1) free permanent schedule change per calendar year will be provided. Additional schedule
                changes will be subjects to a $10 administration fee.<br>
                <b style="color:#00897b; font-size:1rem;">8.</b> The “course period” is fifteen (15) weeks immediately after the payment of course fees. Each course
                and any make-up classes (up to and including five (5) or make-up classes) must be completed within the
                course period. There will be no extension of the course period in this situation.<br>
                <b style="color:#00897b; font-size:1rem;">9.</b> The course period may be extended beyond fifteen (15) weeks if the students have had five (5) or more
                make-up classes. However, seating and time slot availability cannot be guaranteed when the class
                resumes.<br><br>

                <h6>C. REFUND AND WITHDRAWAL POLICY</h6>
                <b style="color:#00897b; font-size:1rem;">10.</b> No refund will be issued for any class in the event of a withdrawal.<br>
                <b style="color:#00897b; font-size:1rem;">11.</b> All classes are non-transferable.<br>
                <b style="color:#00897b; font-size:1rem;">12.</b> Make-up classes for the student may be available depending on the situation.<br><br>

                <h6>D. ABSENCE POLICY</h6>
                <b style="color:#00897b; font-size:1rem;">13.</b> If the student will be absent from a class:<br>
                a) Notice of absence must be submitted online 48 hours in advance to be considered for a make-up class.<br>
                b) A make-up class may not be available for a notice of absence submitted less than 48 hours in advance.<br>
                c) NOVALEAF INTERNATIONAL EDUCATION INC. has the right to consider a student’s eligibility for a make-up
                class on a case-by-case basis.<br>
                d) No refund will be issued for any absence without notice.<br>
                e) NOVALEAF INTERNATIONAL EDUCATION INC. has the right to not schedule a make-up class for any absence
                without notice.<br><br>

                <h6>E. CLASS CANCELLATIONS</h6>
                <b style="color:#00897b; font-size:1rem;">14.</b> NOVALEAF INTERNATIONAL EDUCATION INC. will do everything possible to avoid class cancellations,
                however NOVALEAF INTERNATIONAL EDUCATION INC. reserves the right to do so if necessary. In this
                circumstance, NOVALEAF INTERNATIONAL EDUCATION INC. will attempt to accommodate the student in an
                alternate class.<br><br>

                <h6>F. CONDUCT AND BEHAVIOUR EXPECTATIONS</h6>
                <b style="color:#00897b; font-size:1rem;">15.</b> All students must conduct themselves in a respectful and courteous manner, respecting the staff and
                the facilities in which they are in. We ask the help of parents to ensure their child is aware that
                unacceptable or disruptive behavior will not be tolerated.<br>
                <b style="color:#00897b; font-size:1rem;">16.</b> NOVALEAF INTERNATIONAL EDUCATION INC. has the right to remove a student from a class without a
                refund, in the event that the student does not conduct himself or herself in a respectful and behaved
                manner. It will be at NOVALEAF INTERNATIONAL EDUCATION INC.’s discretion and based on the severity of
                the behavioral incident, whether the student may participate in more classes in the future. Students
                dismissed from NOVALEAF INTERNATIONAL EDUCATION INC. for behavioral reasons are not eligible to receive
                a refund.<br>
                <b style="color:#00897b; font-size:1rem;">17.</b> I will indemnify NOVALEAF INTERNATIONAL EDUCATION INC. for the cost of repairing and/or replacing
                any damaged property or facility arising out of or in connection with the actions of my child.<br><br>

                <h6>G. RELEASE, WAIVER AND INDEMNITY</h6>
                <b style="color:#00897b; font-size:1rem;">18.</b> I understand that my child may be the subject of individual or group photographs or video taken in
                class. I approve the use of my child’s images in various media including newspapers, televisions and the
                other electronic media to promote programs at NOVALEAF INTERNATIONAL EDUCATION INC.<br>
                <b style="color:#00897b; font-size:1rem;">19.</b> In consideration of the acceptance of my application for my child to participate in the classes
                offered, I will indemnity and save harmless NOVALEAF INTERNATIONAL EDUCATION INC., its officers,
                employees and voluntary officials against all loss, claims, damages, costs, actions, suits of any nature
                and kind whatsoever arising out of or in connection to my child’s participation in the classes.


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Modal -->

      </div>
    </footer>
  </div>



  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/intended_customers.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.nice-select.min 2.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/parallax.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
  <!--SCRIPTS END-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</body>

</html>