<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="styles/timeline.css">

  <style>
    #hidden {
      overflow: hidden;
    }

    #bar {
      position: absolute;
      left: 0;
      right: 0;
      padding: 15px;
      background-size: 100%;
    }

    .pull-right {
      color: #106372;
    }

    .pull-left {
      color: #106372;
    }
  </style>


</head>

<body>
  <div class="container">
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
      <div class="container">
        <div class="row justify-content-start align-items-center">
          <div class="col-lg col-md-12">
            <h1 class="text-white">
              <br><br>Training Institute
            </h1>
            <p class="mx-auto text-white  mt-20 mb-40" align="justify">
              NOVALEAF is dedicated to provides STEAM education (science, technology, engineering, art, mathematics),
              focusing on robotics coding and other applied science subjects to help our young students build their
              futures.
              <br><br>
              At NOVALEAF, we believe in “Learn and Achieve” which demonstrates our faiths as a provider of knowledge.
              By using the ELCC system as a carrier to arrange and integrate the knowledge systems, students can fit
              into our training model with plenty of practices while learning different subjects of knowledge. Moreover,
              students are encouraged using the knowledge they have learned to provide solutions to problems which bases
              on a number of cases and hot topics in real life.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <div class="page-header text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 id="timeline" style="color:#595e61">Our Team</h1><br>
    </div>
    <ul class="timeline">
      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/keisha.png" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>Keisha has graduated with a major in English and Theatre. Throughout
                  her life, she has indulged in literature, art, architecture, painting, drawing, and design. As a
                  teacher, she believes that education is the key to freedom. She hopes to encourage students to
                  discover positive motivations through creativity. She is passionate about helping students channel
                  their intuition, expand their imagination, and create freely through all art forms.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-left"><b>Keisha L.</b></a>
              <p align="right">Arts and ESL Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/ding-fan.jpeg" /></center>
              </div>
            </div>
            <div class="col-8">
              <div class="timeline-body">
                <p>Ding has developed strong skills and abilities in different fields. She is passionate about
                  entrepreneurship, community building, international relations, and creative thinking. Ding was
                  nominated as Top 75 Canadian Immigrants, awarded as the Top 25 Immigrants in Maritime, Nova Scotia,
                  and HRM Volunteer Award based on her contribution to the Chinese Society.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-left"><b>Ding F.</b></a>
              <p align="right">Creative Development Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>David has over 5 years of experience teaching children, teenagers, and adults. His expertise includes
                  conversational fluency, resume/cover letter writing, and test preparation. Above all else, he helps
                  his students grow more confident in their English abilities and help their academic and professional
                  careers.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/DavidCaldwell.jpeg" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-right"><b>David C.</b></a>
              <p>ESL Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>Maggie got her master’s degree in English language and literature. She also attended the TESOL
                  program at the University of Queensland in Australia. With more than 18 years of College English, SAT,
                  IELTS, TOEFL, GMAT and GRE teaching experience，she is rich in tutoring students to improve their
                  scores in IELTS and other international tests.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/huiling-ma2.jpg" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-right"><b>Maggie M.</b></a>
              <p>Language / IELTS Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/jay-sharma.jpg" />
                </center>
              </div>
            </div>
            <div class="col-8">
              <div class="timeline-body">
                <p>Jay is currently pursuing Master’s in Applied Computer Science with specialization in Data
                  Science. He is an expert in teaching advanced programming languages and is passionate about building
                  strong analytical and critical thinking skills. He loves solving problems and find alternative
                  solutions to existing ones.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-left"><b>Jay S.</b></a>
              <p align="right">Full-Stack Developer</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/urmzd.png" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>Urmzd is majored in Computer Science, and he is specializing in Mathematics, AI and Intelligent
                  Systems, He has 2 years of teaching experience to both adults and kids. With his passion for CS, He
                  hopes to provide kids knowledge about programming and through this process, help them develop strong
                  problem-solving skills. He hopes to improve others’ knowledge by teaching individuals who are curious
                  & happy to learn more about tech.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-left"><b>Urmzd M.</b></a>
              <p align="right">Coding Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>Sophie has a bachelor's degree in English. She has more than ten years of teaching experience in
                  English and interview skills. She believes that education is not the filling of a pail but the
                  lighting of the fire.So she attaches great importance to stimulating students' motivations. Helping
                  the students to master important skills in a fun way is the direction she has been striving for.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/SophieW.png" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-right"><b>Sophie W.</b></a>
              <p>Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>Li earned her Masters Degree with major in Curriculum and Instruction & Bachelors in
                  English. She has been teaching for more than 12 years. She believes reading helps students
                  grow & tries to inculcate this habit in
                  students too. Her teaching style is direct & decisive, yet flexible in responding to changing demands.
                  She is proficient in developing comprehensive lesson plans, creating
                  stimulating thematic units, assessing individuals & the class.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/LiLi.png" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-right"><b>Li L.</b></a>
              <p>Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/Reynaldo.png" />
                </center>
              </div>
            </div>
            <div class="col-8">
              <div class="timeline-body">
                <p>Reynaldo is a multidisciplinary educator specializing in bringing new technologies to the classroom
                  and passionate about hands-on activities. Possesses relevant professional experience gained during 17
                  years of teaching. Able to deal with STEAM education, programming languages,digital fabrication tools
                  and strong ability in training teachers.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <p class="pull-left"><b>Reynaldo</b></a>
              <p align="right">Math and Science Teacher</p>
          </div>
        </div>
      </li>


      <li class="clearfix" style="float: none;"></li>
    </ul>
  </div>

</body>

</html>