<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/footer.css">
  <link rel="stylesheet" href="styles/timeline.css">

  <style>
    #hidden {
      overflow: hidden;
    }

    #bar {
      position: absolute;
      left: 0;
      right: 0;
      padding: 15px;
      background-size: 100%;
    }
  </style>


</head>

<body>
  <div class="container">
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
      <div class="container">
        <div class="row justify-content-start align-items-center">
          <div class="col-lg col-md-12">
            <h1 class="text-white">
              <br><br>Training Institute
            </h1>
            <p class="mx-auto text-white  mt-20 mb-40" align="justify">
              Novaleaf is an Education Institute founded in 2014, located in Halifax, Canada and Beijing, China.
              Novaleaf is
              committed to providing the students with the assistance to their on-going academic curriculum at different
              levels/grades of school education. With small groups of students and our expert faculty members from
              industry
              and academia, we not only focus on enhancing the academic performance of a child but also try to bridge
              the gap
              between the school curriculum and the industry requirements. We provide flexible and customized support to
              the
              students keeping in mind their needs and requirements. Apart from academic support for various courses
              (Science
              and Mathematics) we also provide courses pertaining to STEAM through Robotics & LEGO. We also cover the
              spheres
              of providing English language training, IELTS training, business English training, University courses
              tutoring,
              education consultation and career training. We completely understand and appreciate the fact that no two
              people
              have same or even similar hurdles in life in terms of building a career, fetching the right job or even
              otherwise. Sticking to this notion, we strongly believe that customizing the curriculum is the key
              criteria to
              provide the best possible solution. Adhering to our unique understanding of the needs and requirements, we
              carefully craft our curriculum to get the best results.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <div class="page-header text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 id="timeline" style="color:#595e61">Our Team</h1><br>
    </div>
    <ul class="timeline">
      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/RileyJones2.jpg" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>As a teacher specializing in English, social studies, and the arts, I help my students discover their
                  voices. I am also passionate about technology and want to encourage others to think critically about
                  how they use it. My hope is that I can help students find success in both their professional and
                  personal lives through communication, education, and understanding.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/riley-jones-092895170/" target="_blank"><b>Riley
                Jones</b></a>
            <p align="right">ESL Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/SoniaJain.png" /></center>
              </div>
            </div>
            <div class="col-8">
              <div class="timeline-body">
                <p>I have pursued Master's in Technology (Electronics and Communication). I have 12+ years of experience
                  in teaching undergraduate engineering courses to my credit. I am well equipped with the knowledge of
                  handling Mathematics, Physics and Robotics Courses at school, secondary and undergraduate levels and
                  applying technology to teaching.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/sonia-jain-84b60728/" target="_blank"><b>Sonia
                Jain</b></a>
            <p align="right">Robotics, Mathematics & Physics</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>Coming from China and currently living in Halifax, Canada, Ding has developed strong skills and
                  ability in different fields. She is passionate about entrepreneurship, community building,
                  international relations and creative thinking. Ding was nominated as Top 75 Canadian Immigrants,
                  awarded as the Top 25 Immigrants in Maritime, Nova Scotia and HRM Volunteer Award based on her
                  contribution to the Chinese Society.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/ding-fan.jpeg" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="https://www.linkedin.com/in/ding-fan-mtei-9511565a/" target="_blank"><b>Ding
                Fan</b></a>
            <p>Creative Development Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>I have over 5 years of experience teaching children, teenagers and adults. My expertise includes
                  conversational fluency, resume/cover letter writing and test preparation. Above all else, I help my
                  students grow more confident in their English abilities and help their academic and professional
                  careers.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/DavidCaldwell.jpeg" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="https://www.linkedin.com/in/david-h-caldwell/" target="_blank"><b>David
                Caldwell</b></a>
            <p>ESL Instructor</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/salil.jpg" />
                </center>
              </div>
            </div>
            <div class="col-8">
              <div class="timeline-body">
                <p>Salil Vishnu Kapur has over 5 years of experience in Robotics, Data Science and programming (C, C++,
                  Python, Java and Scala).
                  He recently finished his Master's in Computer Science (Thesis) from Dalhousie University.
                  He has worked as a Researcher at the Institute for Big Data Analytics and Intelligent Systems
                  Laboratory at Dalhousie University.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/salilvishnukapur/" target="_blank"><b>Salil
                Vishnu</b></a>
            <p align="right">C, C++, Java</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/huiling-ma2.jpg" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>I got my Master's degree in English language and literature. I also attended TESOL program in
                  University of Queensland in Australia. With more than 18 years of College English, SAT, IELTS, TOEFL,
                  GMAT and GRE teaching experience，I am rich in tutoring students to improve their scores in IELTS and
                  other
                  international tests.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/huiling-ma/" target="_blank"><b>Huiling Ma
                (Maggie)</b></a>
            <p align="right">Language / IELTS</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>I have experience in teaching. I teach children how to build and program an ev3 robot. For me
                  teaching is fun and interesting. And I am looking forward to teach more about ev3.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/Mary-Anne Kulykova.png" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="https://www.linkedin.com/in/mary-anne-918230131/" target="_blank"><b>Mary-Anne
                Kulykova</b></a>
            <p>EV3 Robot Programming</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>I am pursuing Masters in Applied Computer Science with specialization in data science. I have
                  expertise in teaching advanced programming languages and am passionate about building strong
                  analytical and critical thinking skills. I love solving problems and find alternative solutions to
                  existing ones.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/jay-sharma.jpg" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="https://www.linkedin.com/in/jays95/" target="_blank"><b>Jay Sharma</b></a>
            <p>Full Stack Developer</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/kunal-kathpal.jpg" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>I recently graduated from Dalhousie and am working as a Web Developer and Teacher. I
                  have 3 years of experience in teaching programming languages to high school students. I aim to share
                  my experience and knowledge among students.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/kunal-kathpal-2461248b/" target="_blank"><b>Kunal
                Kathpal</b></a>
            <p align="right">Developer</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/parmeet-singh.jpg" />
                </center>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="timeline-body">
                <p>I am a Masters student in computer science from Dalhousie University with specialization in computer
                  vision and robotics. Professionally, I have experience working with software companies such as NVIDIA.
                  I have experience teaching graduate students in subjects such as Autonomous robotics and Data
                  analytics. I am equipped to teach other subjects as Mathematics, Physics and Chemistry.</p>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-left" href="https://www.linkedin.com/in/parmeet-singh-1b884011a/" target="_blank"><b>Parmeet
                Singh</b></a>
            <p align="right">Python and EV3</p>
          </div>
        </div>
      </li>

      <li class="timeline">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>I have extremely rich experience in vocational and managerial training. My early career was
                  devoted to the managerial revolution at Huawei for 7 years. Then, I spent 10 years teaching
                  individuals and businesses about career development, entrepreneurial management, etc., transforming
                  countless people and companies. Owning strong skills in math and physics, I also have rich experience
                  of
                  tutoring school students with their curriculum.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/allen.png" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="#"><b>Allen</b></a>
            <p>Mathematics & Physics</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip"></i></a></div>
        <div class="timeline-panel">
          <div class="row">
            <div class="col-8">
              <div class="timeline-body">
                <p>As a recent graduate with a major in English and Theatre, the Arts are my
                  strong suit. Throughout my life, I have indulged in literature, art,
                  architecture, painting, drawing, and design. As a teacher, I believe
                  that education is the key to freedom. I hope to encourage students to discover positive
                  motivations through creativity. I am passionate about helping students channel their intuition, expand
                  their imagination, and create freely through all art forms.</p>
              </div>
            </div>
            <div class="col-4 my-auto">
              <div class="timeline-heading" id="hidden">
                <center><img class="img-responsive" src="/images/keisha.png" />
                </center>
              </div>
            </div>
          </div>
          <div class="timeline-footer">
            <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
            <a><i class="glyphicon glyphicon-share"></i></a>
            <a class="pull-right" href="#"><b>Keisha Lent</b></a>
            <p>Arts and ESL Instructor</p>
          </div>
        </div>
      </li>

      <li class="clearfix" style="float: none;"></li>
    </ul>
  </div>

</body>

</html>