<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/timeline.css">
    <style>
      #hidden{
        overflow: hidden;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <br><br><br><h1 id="timeline">Our Team</h1>
      </div>
      <ul class="timeline">

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-4 my-auto">
                <div class="timeline-heading"  id="hidden">
                  <center><img class="img-responsive" src="http://localhost:1337/images/DavidCaldwell.png"/></center>
                </div>
              </div>
              <div class="col-8">
                <div class="timeline-body">
                  <p>I have over 5 years of experience teaching children, teenagers and adults. My expertise includes conversational fluency, resume/cover letter writing and test preparation. Above all else, I help my students grow more confident in their English abilities and help their academic and professional careers.</p>
                </div>
              </div>
            </div>
            <div class="timeline-footer">
              <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
              <a><i class="glyphicon glyphicon-share"></i></a>
              <a class="pull-right">David Caldwell</a>
              <p><b>ESL Instructor</b></p>
            </div>
          </div>
        </li>

        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="row" >
              <div class="col-4 my-auto">
                <div class="timeline-heading"  id="hidden">
                  <center><img class="img-responsive" src="http://localhost:1337/images/SoniaJain.png" /></center>
                </div>
              </div> 
              <div class="col-lg-8">
                <div class="timeline-body">
                  <p>I have pursued Master's in Technology (Electronics and Communication). I have 12+ years of experience in teaching undergraduate engineering courses to my credit. I am well equipped with the knowledge of handling Mathematics, Physics and Robotics Courses at school, secondary and undergraduate levels and applying technology to teaching.</p>
                </div>
              </div>
            </div>
            <div class="timeline-footer">
              <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
              <a><i class="glyphicon glyphicon-share"></i></a>
              <a class="pull-right">Sonia Jain</a>
              <p><b>Robotics, Mathematics & Physics</b></p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src=" " />
            </div>
            <div class="timeline-body">
              <p>I have experience in teaching. I teach children how to build and program an ev3 robot. For me teaching is fun and interesting. And I am looking forward to teach more about ev3.</p>
            </div>
            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Mary-Anne Kulykova</a>
                <p><b>EV3 Robot Programming</b></p>
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-body">
              <p>Having the passion about tutoring, I love to teach new concepts to the students and implementing those in practical. My areas of expertise are object-oriented programming languages such as C, C++, Java and all of the core and advanced computer science subjects like Artificial Intelligence, Network Security and Robotics. I am also equipped in handling students from varied national and cultural backgrounds by enabling the learning as enjoyable.</p>
            </div>
            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Deepalakshmi Senthilkumar</a>
                <p><b>C, C++, Java</b></p>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src=" " />
            </div>
            <div class="timeline-body">
              <p>She got her Master's degree in English language and literature.She attended TESOL program in University of Queensland in Australia. 
                  With 18 years of College English, SAT, IELTS, TOEFL, GMAT, GRE teaching experience，she is rich in tutoring students to improve their scores in IELTS and other international tests.</p>
            </div>
            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Huiling Ma (Maggie)</a>
                <p><b>Language / IELTS</b></p>
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src=" " />
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
            <div class="timeline-footer primary">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Jay Sharma</a>
                <p><b>Full Stack Developer</b></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-body">
              <p><b>Rafamaciel</b></p>
              <p>I only make it responsive and remove the empty spaces to be more like Facebook timeline!</p>
            </div>
            <div class="timeline-footer primary">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Kunal</a>
                <p><b>Full Stack Developer</b></p>
            </div>
          </div>
        </li>
        
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div>

  </body>
</html>