<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/fav.png">
  <meta name="author" content="colorlib">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="UTF-8">
  <title>NovaLeaf</title>
  <style>
    .mySlides {
      max-width: 100%;
      border-radius: 0%;
    }

    h3 {
      color: white;
    }

    h4,
    h1 {
      color: #00897b;
    }

    .myself-wrap {
      background-color: #F9F9FF;
    }

    h4:hover {
      color: #ffffff;
    }
  </style>
</head>

<body>
  <!-- start banner Area -->
  <section class="banner-area" id="bar">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg col-md-12">
          <h1 class="text-white">
            <br><br>Adult Classrooms
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" align="justify">
            Through our adult education program, we provide solutions to students and career aspirants to face the
            challenges of the job market and overcome the odds through our dedication and flexibility of customizing the
            solutions as per the specific needs and requirements of the person we are dealing with. We completely
            understand and appreciate the fact that no two people have the same or even similar hurdles in life in terms
            of building a career, fetching the right job or even otherwise. IELTS tutoring, business communication,
            career development, resume writing, and mock interviews are the services we offer under the Adult Education
            Program.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->


  <!-- Start about Area -->
  <section class="about-area " id="about">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-lg-6 about-left">
          <p>
          </p>
          <h4 class="pb-0">Targetted IELTS</h4>
          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Reading 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Writing 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Listening 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Speaking 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="85%">
            <div class="skill-bar-percent">Overall 8.5</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 about-right justify-content-end d-flex">
          <div class="myself-wrap">
            <br><br><br><img class="img-fluid" src="/images/job.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about Area -->

  <!-- Start feature Area -->
  <section class="feature-area pt-50">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-20 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-20">Adult Programs</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ IELTS</a></h4>
            </div>
            <p>
              A combination of Chinese and foreign teaching modes that teach important knowledge points and exam notices
              of IELTS, and addresses gaps to quickly improve grades and language proficiency.<br><br><br><br>
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ Business Writing </a></h4>
            </div>
            <p>
              This program will enable the students to enhance their abilities to communicate in a business or work
              environment. The module would include the ethics and skills required for the same which will include
              writing a professional mail, presenting your experience before the prospective recruiters and
              communicating formally in the work culture.</p>
          </div>

        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ English Speaking</a></h4>
            </div>
            <p>
              A combination of teaching modes that help students quickly get started, improve oral English skills, helps
              to understand local culture and learn local communication skills.<br><br><br><br><br></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ Resume & Cover Letter</a></h4>
            </div>
            <p>
              This course helps job seekers how to search, write a professional resume and cover letter, outstand in job
              interviews, and eventually land an ideal job.<br><br></p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ Fit in your Career</a></h4>
            </div>
            <p>
              This course is designed for newcomers in the workplace. From this course, students will get hang of tips
              and skills to avoid pitfalls, adapt to the workplace after leaving school, and lay a solid foundation for
              a successful career.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <h4><a>★ Customized bundle for Career</a></h4>
            </div>
            <p>
              We are committed to providing solutions to students and career aspirants to face the challenges of the job
              market and overcome the odds through our dedication and flexibility of customizing the solutions as per
              the specific needs and requirements of the person we are dealing with. We completely understand and
              appreciate the fact that no two people have the same or even similar hurdles in life in terms of building
              a career, fetching the right job or even otherwise. Sticking to this notion, we strongly believe that
              customizing the curriculum is the key criteria to provide the best possible solution.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <br><br>
  <!-- End feature Area -->

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 2500); // Change image every 1.5 seconds
    }
  </script>

</body>

</html>