  <!-- Start about Area -->
  <section class="about-area section-gap" id="about">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Adult Programs</h1>
            <p>Professional courses for 18+</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 about-left">
          <p>
            It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of
            Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are
            concerned. The history of video game is as interesting as a fairy tale.
          </p>
          <h4 class="pb-40">Targetted IELTS</h4>
          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Reading 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Writing 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Listening 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Speaking 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="85%">
            <div class="skill-bar-percent">Overall 8.5</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 about-right justify-content-end d-flex">
          <div class="myself-wrap">
            <img class="img-fluid" src="/images/about-img.jpg" alt="">
            <div class="desc">
              <h4>Lilly</h4>
              <p class="pb-10">Administrative Assistant</p>
              <p><span class="lnr lnr-phone"></span>(902)420-1643</p>
              <p><span class="lnr lnr-envelope"></span>info@novaleafedu.com</p>
              <a class="mt-30 text-uppercase talk-btn" href="/contact-us">Contact Us</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about Area -->