<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/fav.png">
  <meta name="author" content="colorlib">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="UTF-8">
  <title>NovaLeaf</title>
  <style>
    .mySlides {
      max-width: 100%;
      border-radius: 0%;
    }

    h3 {
      color: white;
    }
  </style>
</head>

<body>
  <!-- start banner Area -->
  <section class="banner-area" id="bar">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg col-md-12">
          <h1 class="text-white">
            <br><br>Adult Classrooms
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40" align="justify">
            Through our adult education program, we provide solutions to students and career aspirants to face the
            challenges of the job market and overcome the odds through our dedication and flexibility of customizing the
            solutions as per the specific needs and requirements of the person we are dealing with. We completely
            understand and appreciate the fact that no two people have same or even similar hurdles in life in terms of
            building a career, fetching the right job or even otherwise. IELTS tutoring, Business Communication, Resume
            Writing and Mock Interviews, Basic Chinese Language Course, Computer Programming Languages and Tutoring
            University Courses are the services we offer under Adult Education Program
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <br><br><br>

  <!-- Start about Area -->
  <section class="about-area " id="about">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Adult Programs</h1>
            <p>Professional courses for 18+</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 about-left">
          <p>

          </p>
          <h4 class="pb-40">Targetted IELTS</h4>
          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Reading 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="90%">
            <div class="skill-bar-percent">Writing 9</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Listening 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="80%">
            <div class="skill-bar-percent">Speaking 8</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
          </div>

          <div class="skillbar" data-percent="85%">
            <div class="skill-bar-percent">Overall 8.5</div>
            <div class="skillwrap">
              <div class="skillbar-bar" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 about-right justify-content-end d-flex">
          <div class="myself-wrap">
            <img class="img-fluid" src="/images/about-img.jpg" alt="">
            <div class="desc">
              <!-- <h4>Lilly</h4>
              <p class="pb-10">Administrative Assistant</p>
              <p><span class="lnr lnr-phone"></span>(902)420-1643</p>
              <p><span class="lnr lnr-envelope"></span>info@novaleafedu.com</p>
              <a class="mt-30 text-uppercase talk-btn" href="/contact-us">Contact Us</span></a>
            </div> -->
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- End about Area -->

  <!-- Start feature Area -->
  <section class="feature-area pt-100">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Adult Programs</h1>
            <!-- <p>After School Programs for students 12+</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">IELTS</a></h4>
            </div>
            <!-- <p>
                            Through our Full-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">English Communication Writing</a></h4>
            </div>
            <!-- <p>
                            Through our Part-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Resume Writing</a></h4>
            </div>
            <!-- <p>
                            Through WeDo (programming module) the children would be made to understand about logic,
                            math, science, patterns and more. WeDo works with Lego and electronic devices. The children
                            will use these materials and make interesting projects.</p><br><br> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Mock Interviews</a></h4>
            </div>
            <!-- <p>
                            Dash & Dot is a simple robot. This robot is designed for younger children. It helps children
                            to prepare to work with the other robots.<br><br>
                        </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Basic Chinese Language</a></h4>
            </div>
            <!-- <p>
                            We would use mBot robot for this level of robotic programming. Students will use the Robotic
                            Programming to understand STEAM concepts.<br><br>
                        </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Business Communication</a></h4>
            </div>
            <!-- <p>
                            This level of our program would focus on teaching EV-3 programming. By the end of this
                            module, children would be involved in making projects pertaining to the acquired knowledge.
                        </p> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Computer programming</a></h4>
            </div>
            <!-- <p>
                            This module of programming would develop the basic idea of C/C++ programming that would
                            prepare children to learn different advanced programming languages in future.
                        </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">Tutoring University Courses</a></h4>
            </div>
            <!-- <p>
                            Dedicated to children with the age group of 13-15 years, this module will make children go
                            deeper into C/C++ programming.<br><br>
                        </p> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature">
            <div class="title d-flex flex-row pb-20">
              <span class="lnr lnr-phone"></span>
              <h4><a href="#">C/C++ Advanced</a></h4>
            </div>
            <!-- <p>
                            Dedicated to children with the age group of 14-16 years, this module will make children go
                            through the in-depth knowledge of C/C++ programming.
                        </p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <!-- End feature Area -->

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 2500); // Change image every 1.5 seconds
    }
  </script>

</body>

</html>