<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/fav.png">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>NovaLeaf</title>
    <style>
        .mySlides {
            max-width: 100%;
            border-radius: 0%;
        }

        h6 {
            padding-top: 10px;
            color: #00897b;
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>

    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Celebrating the special day
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Celebrating the special day!<br>
                        At NovaLeaf, it's a lot more than you can think of. We are glad to have organized Different
                        theme parties to quench your thirst for that cozy venue for your kids to have the best of their
                        times. We intricately craft the party themes to suit your requirements and to make it as your
                        child's best memory to be cherished for years and years to come.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start project Area -->
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 project-right">
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday1.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday3.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday5.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday7.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                </div>
                <div class="col-lg-6 project-left">
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday2.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday4.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday6.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/bday8.png" alt="">
                        <!-- <center>
                            <h6>
                                <figcaption>Birthday</figcaption>
                            </h6>
                        </center> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->
</body>

</html>