<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/fav.png">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>NovaLeaf</title>
    <style>
        .mySlides {
            max-width: 100%;
            border-radius: 0%;
        }

        h6 {
            padding-top: 10px;
            color: #00897b;
        }

        h4,
        h1 {
            color: #00897b;
        }

        h4:hover {
            color: #ffffff;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Camps
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Campers get a glimpse of the world! Our STEAM camps range from 3 days to 10 days. Campers will
                        learn about how computers, networks, and robotics are changing our lives through building models
                        and prototypes. They watch educational movies for self-awareness and participate in team games.
                        From Sudoku to Chess, we have it all. On the last day, campers learn how to code to pave their
                        way for a better future and stand them out from the crowd.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <section id="project"><br>
        <center><img src="images/summer_camp1.png"></center><br>
    </section>

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Camps</h1>
                        <p>Starting this September</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ March Break Camp</a></h4>
                        </div>
                        <p>
                            It's a little break from the school and you surely don't want your child to lose the
                            momentum with his/her daily schedule. NovaLeaf provides a March Break Camp to retain your
                            child's interests in academics even during the break time. Different projects will be given
                            each day to students. While our camp ensures learning with fun, it also comes with
                            activities that would surely enhance your child's holistic development and would leave a
                            lasting impression long after the camp is over. You are therefore welcome to serve your
                            appetite to prepare your child for a wonderful come-back after the break!!</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ Summer Camp</a></h4>
                        </div>
                        <p>
                            It's summertime and it brings with it a long break. With you pondering as to how to make it
                            more constructive for your child, we at NovaLeaf have a solution to your quest. Our
                            customizable summer camps have everything for you under one roof- from STEAM Education
                            Learning to Lego Building and from some educational movies to relaxing yoga, your child will
                            not only end up learning great new things but additionally would also enjoy with a fun
                            activity that comes with the camp. Join us with our summer camps and have a wonderful
                            journey to cherish for a lifetime.</p><br><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ PD Day Camp</a></h4>
                        </div>
                        <p>
                            Spend the day making art, playing games and meeting new friends at our PD Day Camps! With
                            our planned and carefully crafted one day camps for PD Days, we include everything from fun
                            to learning for the entire day. Amidst the rich scientific surroundings at NovaLeaf for the
                            S.T.E.A.M, kids will have the opportunity to explore their potentials via different projects
                            and try out a variety of multi-age activities by our LEGO setting.
                            Come and explore the best of your child can have with our PD Day Camps!
                        </p><br><br><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 "></div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ Theme Camp</a></h4>
                        </div>
                        <p>
                            NovaLeaf essentially is not just about delivering academic excellence, it's a lot more than
                            you can imagine. With our special theme camps, we ensure to instill in students the culture
                            and customs to groom them to become not only professionally enriched individuals for
                            tomorrow, but also to become better in life. From imbibing the true spirit of Christmas to
                            the New Year's Resolutions and from the fun of Halloween to the warmth of Thanksgiving, we
                            have it all, just under one roof to give your child an emotional upliftment associated with
                            each of these special days through our wonderfully designed Theme Camps. Join us to get the
                            best for your child!!<br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->
</body>

</html>