<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/fav.png">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>NovaLeaf</title>
    <style>
        .mySlides {
            max-width: 100%;
            border-radius: 0%;
        }

        h6 {
            padding-top: 10px;
            color: #00897b;
        }
        h4,h1 {
            color: #00897b;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Camps
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Campers get a glimpse of the world! Our STEAM camps range from 3 days to 10 days. Campers will
                        learn about how computers, networks and robotics are changing our lives through building models
                        and prototyppes. They watch educational movies for self awareness and participate in team games.
                        From Sudoku to Chess, we have it all. On the last day, campers learn how to code to pave their
                        way for a better future and stand them out from the crowd.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <section id="project"><br>
        <center><img src="images/summer_camp1.png"></center><br>
    </section>

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Fall Camps</h1>
                        <p>Starting this September</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ 3 Day STEAM Camp</a></h4>
                        </div>
                        <p>
                            The children enrolled with a three day program will be imparted with the basic STEAM
                            concepts through lectures along with learning some Art Work, watching movies and some
                            lessons on English Language</p><br><br>
                        <br>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 99 + Tax</button></center>

                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="58JJ6LGXG66LL">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                        <center><b>
                                <p>Weekdays - 09:00 to 17:00</p>
                            </b></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ 5 Day STEAM Camp</a></h4>
                        </div>
                        <p>
                            Five day program will impart children with STEAM concepts along with basics of Robotic
                            Programming through lectures and practical demonstrations along with learning some Art Work,
                            watching movies and some lessons on English Language</p><br><br>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 195 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="X68LVG5CR4AVQ">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>


                        </center>
                        <center><b>
                                <p>Weekdays - 09:00 to 17:00</p>
                            </b></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ 10 Day STEAM Camp</a></h4>
                        </div>
                        <p>
                            Learning of STEAM concepts using Robotics as the mode of transferring knowledge. The
                            curriculum would be
                            divided into Learn to Code and Code to Learn modules. By the end, children
                            will be taught formal report writing and be involved in
                            developing a project on Robotics. Art Work, watching movies & other fun activities
                            included.</p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 645 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="WBS97FVW9T34C">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                        <center><b>
                                <p>Weekdays - 09:00 to 17:00</p>
                            </b></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 "></div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>★ Weekend STEAM Camp</a></h4>
                        </div>
                        <p>
                            2 day program will impart the basics of STEAM plus Art Work<br>
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 80 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="DXE85PJAYZDPC">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                        <center><b>
                                <p>Weekdays - 09:00 to 17:00</p>
                            </b></center>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->
</body>

</html>