<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/geomap.js"></script>
    <link rel="stylesheet" href="/styles/geomap.css">
    <style>
        iframe {
            margin-top: 10px;
            height: 300px;
            width: 100%;
        }
    </style>
    <script>
        function contact_us() {
            var getname = document.getElementById("name").value;
            var getemail = document.getElementById("email").value;
            var getphone = document.getElementById("phone").value;
            var getmessage = document.getElementById("message").value;
            var addurl = "/contactus/create?fullName=" + getname + "&phoneNo=" + getphone + "&emailID=" + getemail + "&message=" + getmessage;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", addurl, false); // false for synchronous request
            xmlHttp.send(null);
        }
    </script>
</head>

<body>
    <!-- start contact Area -->

    <section>
        <br><br>
        <div class="card">
            <div class="row no-gutters">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.7393892924642!2d-63.580513248702594!3d44.64324317899721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a2317e40c554d%3A0x2df0e144280b9b91!2sNovaleaf+International+Education+Consulting+Inc.!5e0!3m2!1sen!2sca!4v1565634039237!5m2!1sen!2sca"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-20 col-lg-8">
                    <div class="title text-center">
                        <br>
                        <h1 class="mb-10">Get in Touch</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <form class="form-area mt-60" class="contact-form text-right">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input id="name" name="name" placeholder="Enter your name" class="common-input mb-20 form-control"
                            required type="text">

                        <input id="email" name="email" placeholder="Enter email address"
                            pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" class="common-input mb-20 form-control"
                            required type="email">

                            
                        <input id="phone" name="phone" placeholder="Enter your phone" class="common-input mb-20 form-control"
                            required type="number">
                    </div>
                    <div class="col-lg-6 form-group">
                        <textarea id="message" class="common-textarea mt-10 form-control" name="message" placeholder="Messege"></textarea>
                        <button class="primary-btn mt-20" onclick="contact_us()">Send Message<span class="lnr lnr-phone"></span></button>
                        <div class="alert-msg">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <!-- end contact Area -->
</body>

</html>