<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Customer Management
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Select a List to view
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br>

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Intended Customers</a></h4>
                        </div>
                        <p>
                            Customers who tried to contact NovaLeaf Edu</p><br>
                        <center><a class="btn btn-light" href="/dashboard/customer/intended" role="button">List</a></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Paid Customers</a></h4>
                        </div>
                        <p>
                            Customers who paid via PayPal to NovaLeaf Edu</p>
                        <center><a class="btn btn-light" href="/dashboard/customer/paid" role="button">List</a></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Manual Entry</a></h4>
                        </div>
                        <p>
                            Add customers who registered offline at Novaleaf Edu</p>
                        <center><a class="btn btn-light" href="/dashboard/customer/offline" role="button">List</a></center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>