<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Welcome to Admin Dashboard!
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Select a portal to continue.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br>

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Customer Management</a></h4>
                        </div>
                        <p>
                            Manage your cutomers by classification: Intended, On-trial or Paid Customers. Manually add
                            customers who register offline at Novaleaf Edu center.</p>
                        <center><button type="button" class="btn btn-light">Open</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Registration Management</a></h4>
                        </div>
                        <p>
                            Update employee attendance, time-tables for teachers and grade sheets of students.
                            Time-table reflects on Admin page and updates in real time.</p>
                        <center><button type="button" class="btn btn-light">Open</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="#">Employee Management</a></h4>
                        </div>
                        <p>
                            Manage Full-time employees, Part-time employees and On-contract employees through this
                            portal.</p><br>
                        <center><button type="button" class="btn btn-light">Open</button></center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>