<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/fav.png">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>NovaLeaf</title>
    <style>
        .mySlides {
            max-width: 100%;
            border-radius: 0%;
        }

        h6 {
            padding-top: 10px;
            color: #00897b;
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
    
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Life at NovaLeaf
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        We regularly organize events for our kids to explore the world!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start project Area -->
    <div class="fb-page" data-href="https://www.facebook.com/yuebin.liu.9" data-tabs="timeline" data-width="" data-height=""
        data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/yuebin.liu.9" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/yuebin.liu.9">Facebook</a></blockquote>
    </div>
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 project-right">
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/events1.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Halifax Central Library Visit</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event3.jpeg" alt="">
                        <center>
                            <h6>
                                <figcaption>Geography Workshop</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event5.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Robotics Competition</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event7.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Lego Build Blocks Competition</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event9.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Dash Robo Coding Event</figcaption>
                            </h6>
                        </center>
                    </div>
                </div>
                <div class="col-lg-6 project-left">
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/events2.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Field Trip, Citadel, Halifax, CA</figcaption>
                            </h6>
                        </center>

                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event4.jpeg" alt="">
                        <center>
                            <h6>
                                <figcaption>Geometry Workshop</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event6.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Robotics Competition</figcaption>
                            </h6>
                        </center>

                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event8.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Robotics Competition</figcaption>
                            </h6>
                        </center>
                    </div>
                    <div class="single-project pb-50">
                        <img class="img-fluid" src="/images/event10.jpg" alt="">
                        <center>
                            <h6>
                                <figcaption>Dash Robo Coding Event</figcaption>
                            </h6>
                        </center>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->
</body>

</html>