<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white"><br><br>Life at NovaLeaf</h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
</body>
<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="row">
        <div class="col-lg-4 col-md-6 ">
        </div>
    <div class="col-lg-4 col-md-6 ">
        <div class="single-feature mb-30">
            <div class="title d-flex flex-row pb-20">
                <span class="lnr lnr-phone"></span>
                <h4><a href="#">Events</a></h4>
            </div>
        </div>
    </div>
</div>

</html>