<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/fav.png">
  <meta name="author" content="colorlib">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="UTF-8">
  <title>NovaLeaf</title>
  <style>
    .mySlides {
      max-width: 100%;
      border-radius: 0%;
    }
    h3 {
      color: white;
    }
  </style>
</head>

<body>
  <!-- start banner Area -->
  <section class="banner-area" id="home">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg-8 col-md-4">
          <!-- sliding images-->

          <div class="w3-content">
            <!-- <img class="mySlides" src="/images/header.png" alt="Cinque Terre"> -->
            <img class="mySlides" src="/images/homeslider2.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/homeslider3.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/homeslider4.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/homeslider5.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/homeslider6.jpeg" alt="Cinque Terre">
          </div>
          <!-- end of sliding images-->

        </div>

        <div class="col-lg-4 " style="border-radius:10%; text-align: center; ">
          <center><img src="/images/comapny_logo.png"></center>
          <h2 class="text-white">
            <span>NovaLeaf</span><br></h2>
          <h3>Learning Centre</h3>
          <p class="my-auto text-white  mt-20 mb-40"><br>
            A Leader in K-12 STEAM Canadian education. It aims at making students think through the lens
            of logic and hence preparing them for
            Technological breakthrough in future.
          </p><br><br>
          <a href="/contact-us" class="text-uppercase header-btn">Contact Us</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start service Area -->
  <section class="service-area" id="service">
    <br><br>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Educational Services</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="single-service col-lg-6 col-md-6 mb-30">
          <div class="icon">
            <img src="/images/s1.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/kids">Kids Programs</a></h4>
            <p class="mt-20">
              The kid's programs focus on providing children with various options from STEAM Tutoring to Robotic Coding.
              Through programs under this category,
              we aim at the holistic development of a child catering to his/her specific needs and requirements by
              customizing our curriculum.
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6 mb-30">
          <div class="icon">
            <img src="/images/s2.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/adults">Adult Programs</a></h4>
            <p class="mt-20">
              The Adult Program targets various aspects of the Adult Learning.
              From IELTS to University Tutoring and from C/C++ Programming to Python, we have it all under the same roof
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6">
          <div class="icon">
            <img src="/images/s3.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/camps">Camps</a></h4>
            <p class="mt-20">
              Our Camps run during the Summer and March breaks and we also provide PD Camp too.
              The Camps judiciously divide the entire days activities that find their scope from doing Lego Activities,
              Art Lessons, STEM Lessons along with some free/fun times for kids.
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6">
          <div class="icon">
            <img src="/images/s4.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/events">Events</a></h4>
            <p class="mt-20">
              In Novaleaf we have events happening on regular basis. We have different events for different agegruops to
              maintain students interest and skill level.
            </p><br><br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service Area -->

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 2500); // Change image every 1.5 seconds
    }
  </script>

</body>

</html>