<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/fav.png">
  <meta name="author" content="colorlib">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="UTF-8">
  <title>NovaLeaf</title>
  <style>
    .mySlides {
      max-width: 100%;
      border-radius: 0%;
    }

    h3 {
      color: white;
    }
  </style>
</head>

<body>
  <!-- start banner Area -->
  <section class="banner-area" id="home">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg-8 col-md-4">
          <!-- sliding images-->

          <div class="w3-content">
            <!-- <img class="mySlides" src="/images/header.png" alt="Cinque Terre"> -->
            <img class="mySlides" src="/images/NewHomePage9.png" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage10.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage5.png" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage3.png" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage1.png" alt="Cinque Terre">
            <!-- <img class="mySlides" src="/images/NewHomePage2.png" alt="Cinque Terre"> -->
            <img class="mySlides" src="/images/NewHomePage11.jpeg" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage6.png" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage7.png" alt="Cinque Terre">
            <img class="mySlides" src="/images/NewHomePage8.png" alt="Cinque Terre">
          </div>
          <!-- end of sliding images-->

        </div>

        <div class="col-lg-4 " style="border-radius:10%; text-align: center; ">
          <center><img src="/images/comapny_logo.png"></center>
          <h2 class="text-white">
            <span>NovaLeaf</span><br></h2>
          <h3>Learning Centre</h3>
          <h6 class="my-auto mx-auto text-white"><br>
            Learn and Achieve
          </h6><br>
          <p class="my-auto mx-auto text-white">A Leader in K-12 STEAM Canadian education</p><br>
          <a href="/contact-us" class="text-uppercase header-btn">Contact Us</span></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start service Area -->
  <section class="service-area" id="service">
    <br><br>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">Educational Services</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="single-service col-lg-6 col-md-6 mb-30">
          <div class="icon">
            <img src="/images/s1.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/kids">Kids Programs</a></h4>
            <p class="mt-20">
              The kid's programs focus on providing children with various options which include Robotic Coding and
              S.T.E.A.M subjects tutoring (Science, Technology, Engineering, Arts and Math). Through programs at
              Novaleaf, we are here to provide an integrated development for the children regarding his/her
              characteristics and potentials when customizing our curriculums.
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6 mb-30">
          <div class="icon">
            <img src="/images/s2.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/adults">Adult Programs</a></h4>
            <p class="mt-20">
              At NovaLeaf, we design and provide different courses for adults. No matter you are a university student,
              new graduate or someone looking for continuous development for your career and yourself. Options are open
              to choose from IELTS training to Career development.
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6">
          <div class="icon">
            <img src="/images/s3.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/camps">Camps</a></h4>
            <p class="mt-20">
              Our Camps run during the Summer and March breaks and we also provide PD Camp and Theme Camp too. The Camps
              judiciously divide the entire day‘s activities that find their scope from doing Lego Activities, Art
              Lessons, STEAM Lessons along with some free/fun times for kids.
            </p>
          </div>
        </div>
        <div class="single-service col-lg-6 col-md-6">
          <div class="icon">
            <img src="/images/s4.png" alt="">
          </div>
          <div class="dec">
            <h4 class="mt-30"><a href="/birthday">Party Design</a></h4>
            <p class="mt-20">
              At NovaLeaf, it's a lot more than you can think of. We have organized different theme parties on our site
              which is a cozy venue for your kids to have the best of their times. We intricately craft the party themes
              to suit your requirements and to make it as your child's best memory to be cherished for years and years
              to come.
            </p><br><br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service Area -->

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) { myIndex = 1 }
      x[myIndex - 1].style.display = "block";
      setTimeout(carousel, 2500); // Change image every 1.5 seconds
    }
  </script>

</body>

</html>