<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #00897b;
        }

        .btn {
            font-size: 1rem;
        }

        .btn:hover {
            text-decoration: none;
        }

        .card-body {
            padding: 0px;
        }

        .card-text {
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
        }

        accordian {
            border-color: chocolate;
        }
    </style>
</head>

<body>

    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Our Classrooms
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Novaleaf is a Canadian leader in K-12 STEAM education, developing age-appropriate STEAM
                        solutions for the classrooms that engage students in exciting, experimental based education
                        programs that strengthen STEAM knowledge, promote innovation skills, and develop well-rounded
                        individuals. It aims at making students think through the lens of logic and hence preparing them
                        for the technological breakthrough in the future.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br><br><br><br><br>
    <!-- Start project Area -->
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="title text-center">
                <h1 class="mb-10">Teaching Approach</h1>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <img class="img-fluid" src="/images/ELCC.png">
                </div>
                <div class="col-sm-1"></div>
            </div><br><br>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 1</h3>
                            </center>
                            <center>
                                <p class="card-text">Students are assigned some problems for exploring the solution
                                    on their own way. They walkthrough in order to familiarize themselves with it.</p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 2</h3>
                            </center>
                            <center>
                                <p class="card-text">Students share and explain their solutions. Everyone is encouraged
                                    to be involved in the discussion. The tutor summarizes
                                    the solutions & introduces related principles
                                </p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 3</h3>
                            </center>
                            <center>
                                <p class="card-text">Students do more similar problems to consolidate what they’ve
                                    learned. They combine solutions into a single more effective one.</p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 4</h3>
                            </center>
                            <center>
                                <p class="card-text">Each student designs a similar problem for others to resolve, and
                                    students get award points in this step motivating them to design more creative
                                    problems</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->

    <!-- Start feature Area -->
    <section class="feature-area pt-50">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-50 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Kids Programs</h1>
                        <p>S.T.E.A.M. stands for science, technology, engineering, mathematics, and art. S.T.E.A.M
                            education helps to bridge the ethnic and gender gaps sometimes found in math and science
                            fields. Programs outside of school cannot only help children to see that S.T.E.A.M is more
                            than a class to finish, but also show the real-life implication of S.T.E.A.M can pull
                            together the ideas presented in school via various activities</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <img class="img-fluid" src="/images/Artboard.png">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-3 col-md-6 ">
                    <div class="accordion" id="accordion1">
                        <div class="card">
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingS1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseS1" aria-expanded="false" aria-controls="collapseS1">
                                        🧬 Secret of Science <button type="button"
                                            class="btn pull-right btn-secondary btn-sm disabled">L1</button>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseS1" class="collapse" aria-labelledby="headingS1" data-parent="#accordion1">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>Help children/students experience the misty phenomenon in real life,
                                            encourage students exploring what’s behind the phenomenon by using knowledge
                                            of science in class and lead them to realize how science is making things
                                            better for our life.
                                            By moving to an upper level of study, students enable to develop a more
                                            advanced understanding of real-life problems based on the concepts and
                                            fundamentals developed in the previous classes.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="accordion" id="accordion2">
                        <div class="card">
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingT1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseT1" aria-expanded="false" aria-controls="collapseT1">
                                        🤖 Robotic Coding
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseT1" class="collapse" aria-labelledby="headingT1" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>We take the initiative to use robots and iPads as primary tools to teach
                                            children programming and related STEAM knowledge. At NovaLeaf, we use
                                            technology to teach technology and allow kids to think and explore the
                                            infinite possibilities of the wonders of engineering, science, mathematics,
                                            and arts.
                                            By teaching programming and STEAM in the most intriguing and advanced way,
                                            NovaLeaf targets at helping students build up the best logical thinking and
                                            the strongest observation, while still retaining children’s purest curiosity
                                            of “how”, “when”, “where” and “what” !!

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header" id="headingT2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseT2" aria-expanded="false" aria-controls="collapseT2">
                                        🤖 Dash & Dot <button type="button"
                                            class="btn pull-right btn-secondary btn-sm disabled">L1</button>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseT2" class="collapse" aria-labelledby="headingT2" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>This course is designed to teach kids about basic robotic coding skills by
                                            using Bockly to control robots, and other STEAM subjects by integrating Dash
                                            & Dot in the classroom. Activities in this course are designed to encourage
                                            students to think in new ways with hands-on applications. On top of that,
                                            kids are trained to possess FIRST philosophy - Gracious Professionalism and
                                            Coopetition, laying a foundation for future FIRST LEGO LEAGUE competition.
                                            After taking this course, kids learn how to program using Blockly, and
                                            command Dash & Dot to execute designated tasks. Through activities and
                                            projects, kids can significantly improve their STEAM skills, and learn
                                            teamwork and other FIRST core values.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header" id="headingT3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseT3" aria-expanded="false" aria-controls="collapseT3">
                                        🤖 WeDo 2.0 <button type="button"
                                            class="btn float-right btn-secondary btn-sm disabled">L2</button>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseT3" class="collapse" aria-labelledby="headingT3" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>The program is based upon the latest science standards and was created to
                                            enhance students' curiosity and science skills. The curriculum facilitates
                                            and supports a clear, easy-to-follow journey through subjects, including:
                                            life-, physical-, earth- and space sciences, as well as engineering. WeDo2.0
                                            works with Lego building and electronic devices. The children will use these
                                            materials and make interesting projects.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header" id="headingT4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseT4" aria-expanded="false" aria-controls="collapseT4">
                                        🦾 EV3 <button type="button"
                                            class="btn pull-right btn-secondary btn-sm disabled">L3</button>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseT4" class="collapse" aria-labelledby="headingT4" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>The course of EV3 is designed to provide students from making, coding,
                                            engineering, and applied science to eventually approach students to
                                            understand how robotics can practice in the real world. By assigning
                                            different projects to students in teams, students can explore their
                                            potentials of designing, building， teamworking and critical thinking.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header" id="headingE1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseE1" aria-expanded="false" aria-controls="collapseE1">
                                        🖥️ General Comp. Sc.
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseE1" class="collapse" aria-labelledby="headingE1" data-parent="#accordion2">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>We know how the world is being affected by the fast-growing IT industry and
                                            how IT and Computer Science are touching every aspect of our lives!!
                                            To keep pace with the fast moving-world, we at NovaLeaf have our smartly
                                            designed Computer Science programs to prepare your child to hit the world
                                            with the right attitude for tomorrow. Our expert team of faculty members has
                                            kept in mind the very requirement of today's market in designing the
                                            curriculum to make it work perfectly with your child while keeping it simple
                                            and yet productive.
                                            Come and explore our Computer Science Programs and make your child ready for
                                            tomorrow's technological evolution.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="accordion" id="accordion3">
                        <div class="card">
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingA1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseA1" aria-expanded="false" aria-controls="collapseA1">
                                        🎨 Fun Art- Design
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseA1" class="collapse" aria-labelledby="headingA1" data-parent="#accordion3">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>In this course, students will be introduced to the elements and principles of
                                            the art design, allowing them to combine, build off of and demonstrate these
                                            concepts in the future to produce more elaborate works. They will be able to
                                            understand design techniques in various mediums such as drawing, and
                                            painting. Also, they will be able to utilize their imagination and
                                            creativity towards innovation, and improvement, learning to draw inspiration
                                            from nature and each other.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingA2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseA2" aria-expanded="false" aria-controls="collapseA2">
                                        🏴󠁧󠁢󠁥󠁮󠁧󠁿 English Literature
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseA2" class="collapse" aria-labelledby="headingA2" data-parent="#accordion3">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>This is a program for English language learners who have had educational
                                            opportunities to develop age-appropriate first-language literacy skills. The
                                            program is designed mainly aiming at raising the ability of kids to read and
                                            write. By introducing different literary forms, students get to cultivate
                                            and enhance their aesthetic judgment through classic literary works.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingA3">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseA3" aria-expanded="false" aria-controls="collapseA3">
                                        🇫🇷 French
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseA3" class="collapse" aria-labelledby="headingA3" data-parent="#accordion3">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>This course is designed for studying French language and French culture. The
                                            fundamentals of French pronunciation, grammar, and culture are presented
                                            through a balanced development of all four skills: listening, speaking,
                                            reading, and writing. The importance of communication and cultural awareness
                                            is stressed through a wide variety of activities (group/pair work, video,
                                            audio recordings, computer assignments, etc.). The course expects students
                                            to meet the basic requirements of TEF Canada (The Test d’Évaluation de
                                            Français pour le Canada) by developing the four basic language competencies
                                            (reading, writing, speaking, and listening).
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingA4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseA4" aria-expanded="false" aria-controls="collapseA4">
                                        🇨🇳 Chinese
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseA4" class="collapse" aria-labelledby="headingA4" data-parent="#accordion3">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>Diversity is a feature of the Halifax Community. At NovaLeaf, we value the
                                            importance of this feature, and we are proud to provide multi-language
                                            training. Chinese Language Training is a feature lesson in our language
                                            training program. We using multi-media and anime to help students to
                                            approach to Chinese language and reveal the misty of Chinese Culture.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="accordion" id="accordion4">
                        <div class="card">
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingM1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseM1" aria-expanded="false" aria-controls="collapseM1">
                                        📐Comprehensive Math
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseM1" class="collapse" aria-labelledby="headingM1" data-parent="#accordion4">
                                <div class="card-body">
                                    <div class="single-feature">
                                        <p>Math is the language of God, and the misty is ready to reveal! This program
                                            is aiming to help kids spread the joy of mathematics, improve children’s
                                            logical and creative thinking skills, and facilitate children to obtain a
                                            good score in different math contests. By using our customized curriculum,
                                            students are not only reviewing what they are learning in school but also
                                            developing and applying the mathematic skill on the projects that they will
                                            be assigned to.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>