<html>

<head>
</head>

<body>
    <!-- Start project Area -->
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Classrooms</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 project-left">
                    <div class="single-project pb-100">
                        <img class="img-fluid" src="http://novaleafedu.azurewebsites.net/images/l1.jpg" alt="">
                        <h4 class="pt-100 pb-30"><a href="#">Robotics Junior Level</a></h4>
                        <p>
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the
                            introduction of Virtual Game, it has been achieving great heights so far as its popularity
                            and technological.
                        </p>
                    </div>
                    <div class="single-project">
                        <img class="img-fluid" src="http://novaleafedu.azurewebsites.net/images/l3.jpg" alt="">
                        <h4 class="pt-100 pb-30"><a href="#">C/C++</a></h4>
                        <p>
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the
                            introduction of Virtual Game, it has been achieving great heights so far as its popularity
                            and technological.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 project-right">
                    <div class="single-project">
                        <h4 class="pt-30 pb-30"><a href="#">STEAM Programs</a></h4>
                        <p class=" pb-100">
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the
                            introduction of Virtual Game, it has been achieving great heights so far as its popularity
                            and technological.
                        </p>
                        <img class="img-fluid" src="http://novaleafedu.azurewebsites.net/images/l2.jpg" alt="">
                    </div>
                    <div class="single-project">
                        <h4 class="pt-100 pb-30"><a href="#">Robotics Intermediate Level</a></h4>
                        <p class=" pb-30">
                            It won’t be a bigger problem to find one video game lover in your neighbor. Since the
                            introduction of Virtual Game, it has been achieving great heights so far as its popularity
                            and technological.
                        </p>
                        <img class="img-fluid" src="http://novaleafedu.azurewebsites.net/images/l4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Kids Programs</h1>
                        <p>After School Programs to refine your child's learning process</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Full-time STEAM</a></h4>
                        </div>
                        <p>
                            Through our Full-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p>
                        <center><button type="button" class="btn btn-light">CA$ 280</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Part-time STEAM</a></h4>
                        </div>
                        <p>
                            Through our Part-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p>
                        <center><button type="button" class="btn btn-light">CA$ 180</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Junior Level 1</a></h4>
                        </div>
                        <p>
                            Through WeDo (programming module) the children would be made to understand about logic,
                            math, science, patterns and more. WeDo works with Lego and electronic devices. The children
                            will use these materials and make interesting projects.</p><br><br>
                        <center><button type="button" class="btn btn-light">CA$ 350</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Junior Level 2</a></h4>
                        </div>
                        <p>
                            Dash & Dot is a simple robot. This robot is designed for younger children. It helps children
                            to prepare to work with the other robots.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 350</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Intermediate Level 1</a></h4>
                        </div>
                        <p>
                            We would use mBot robot for this level of robotic programming. Students will use the Robotic
                            Programming to understand STEAM concepts.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 350</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Intermediate Level 2</a></h4>
                        </div>
                        <p>
                            This level of our program would focus on teaching EV-3 programming. By the end of this
                            module, children would be involved in making projects pertaining to the acquired knowledge.
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 350</button></center>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Basic</a></h4>
                        </div>
                        <p>
                            This module of programming would develop the basic idea of C/C++ programming that would
                            prepare children to learn different advanced programming languages in future.
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 450</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Intermediate</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 13-15 years, this module will make children go
                            deeper into C/C++ programming.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 450</button></center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Advanced</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 14-16 years, this module will make children go
                            through the in-depth knowledge of C/C++ programming.
                        </p>
                        <center><button type="button" class="btn btn-light">CA$ 450</button></center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>