<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }

        h1 {
            color: #00897b;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Our Classrooms
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Nova2leaf is an Education Institute founded in 2014, located in Halifax, Canada and Beijing,
                        China. Novaleaf is committed to providing the students with the assistance to their on-going
                        academic curriculum at different levels/grades of school education. With small groups of
                        students and our expert faculty members from industry and academia, we not only focus on
                        enhancing the academic performance of a child but also try to bridge the gap between the school
                        curriculum and the industry requirements. We provide flexible and customized support to the
                        students keeping in mind their needs and requirements. Apart from academic support for various
                        courses (Science and Mathematics) we also provide courses pertaining to STEAM through Robotics &
                        LEGO. We also cover the spheres of providing English language training, IELTS training, business
                        English training, University courses tutoring, education consultation and career training. We
                        completely understand and appreciate the fact that no two people have same or even similar
                        hurdles in life in terms of building a career, fetching the right job or even otherwise.
                        Sticking to this notion, we strongly believe that customizing the curriculum is the key criteria
                        to provide the best possible solution. Adhering to our unique understanding of the needs and
                        requirements, we carefully craft our curriculum to get the best results.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- Start project Area -->
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 project-left">
                    <div class="single-project pb-100">
                        <img class="img-fluid" src="/images/l1.jpg" alt="">
                        <h4 class="pt-100 pb-30"><a href="#">Robotics Junior Level</a></h4>
                        <p>
                            Our junior robotics classes use educational kits like LEGO® WeDo™ Robots to
                            create a perfect mixture of fun and imagination that can help expand your young child’s
                            creative mind.
                        </p>
                    </div>
                    <div class="single-project">
                        <img class="img-fluid" src="/images/l3.jpg" alt="">
                        <h4 class="pt-100 pb-30"><a href="#">C/C++</a></h4>
                        <p>
                            This course will start with the fundamental programming concepts before digging deeper into
                            the more advanced C++ topics. From "Hello World" to forming loops, your child will learn it
                            all!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 project-right">
                    <div class="single-project">
                        <h4 class="pt-30 pb-30"><a href="#">STEAM Programs</a></h4>
                        <p class=" pb-100">
                            STEM stands for science, technology, engineering, and mathematics. STEM education helps to
                            bridge the ethnic and gender gaps sometimes found in math and science fields. Programs
                            outside of school can help children to see that STEM is more than a class to finish. Having
                            activities that show real-life implication of STEM can pull together the ideas presented in
                            school and help to show how they benefit our society and even our world as a whole.
                        </p>
                        <img class="img-fluid" src="/images/l2.jpg" alt="">
                    </div>
                    <div class="single-project">
                        <h4 class="pt-100 pb-30"><a href="#">Robotics Intermediate Level</a></h4>
                        <p class=" pb-30">
                            Students work in teams to plan, build, test, and modify their own robotic creations! We use
                            LEGO® EV3 or NXT, VEX IQ, and other educational kits that mirror programming languages
                        </p>
                        <img class="img-fluid" src="/images/l4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->

    <!-- Start feature Area -->
    <section class="feature-area pt-100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Kids Programs</h1>
                        <p>After School Programs to refine your child's learning process</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Full-time STEAM</a></h4>
                        </div>
                        <p>
                            Through our Full-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 280 + Tax</button></center>
                        <br>
                        <center>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="B4MDYRCNJU6M6">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Part-time STEAM</a></h4>
                        </div>
                        <p>
                            Through our Part-time STEAM After School Program we believe in enhancing the STEAM knowledge
                            of children at various Grade Levels in a more fun and innovative way not only using the
                            conventional teaching methods but also adopting the modern technology to make our program
                            even more interesting and bring out the best in every child. </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 180 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7G2X79W8U7AX2">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Junior Level 1</a></h4>
                        </div>
                        <p>
                            Through WeDo (programming module) the children would be made to understand about logic,
                            math, science, patterns and more. WeDo works with Lego and electronic devices. The children
                            will use these materials and make interesting projects.</p><br><br>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 350 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="PX5YB7J8L738G">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Junior Level 2</a></h4>
                        </div>
                        <p>
                            Dash & Dot is a simple robot. This robot is designed for younger children. It helps children
                            to prepare to work with the other robots.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 350 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="H62KEMH3V77HS">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Intermediate Level 1</a></h4>
                        </div>
                        <p>
                            We would use mBot robot for this level of robotic programming. Students will use the Robotic
                            Programming to understand STEAM concepts.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 350 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="GBRXH5QPW7PRQ">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Robotics Intermediate Level 2</a></h4>
                        </div>
                        <p>
                            This level of our program would focus on teaching EV-3 programming. By the end of this
                            module, children would be involved in making projects pertaining to the acquired knowledge.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 350 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="MYRMGM2BRQ4DN">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Basic</a></h4>
                        </div>
                        <p>
                            This module of programming would develop the basic idea of C/C++ programming that would
                            prepare children to learn different advanced programming languages in future.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="P7BGHH6T2YEXE">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Intermediate</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 13-15 years, this module will make children go
                            deeper into C/C++ programming.<br><br>
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="TZV4CM6PJZUGY">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">C/C++ Advanced</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 14-16 years, this module will make children go
                            through the in-depth knowledge of C/C++ programming.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="8FZKZ5YEETVD4">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                    border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                                    width="1" height="1">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Chinese</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 5-10 years, this module will prepare children to
                            command the four major linguistic skills.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">French</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 5-10 years, this module will prepare children to
                            adapt quickly to the French class in School.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">English</a></h4>
                        </div>
                        <p>
                            Dedicated to children in age group of 5-10 years, this module will prepare them to
                            adapt quickly to the English Environment in School.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Mathematics</a></h4>
                        </div>
                        <p>
                            Dedicated to children in age group of 5-16 years, this module will prepare children to
                            be outstanding in Math in School.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Science</a></h4>
                        </div>
                        <p>
                            Dedicated to children with the age group of 5-10 years, this module will prepare children to
                            be outstanding in Math in School.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">General Computers</a></h4>
                        </div>
                        <p>
                            This module of programming would develop the basic computer knowledge and teach MS Office
                            which would prepare children to learn Computer Science in future.
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Chess</a></h4>
                        </div>
                        <p>
                            The program integrates the STEAM learning with an introductory session on Chess
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <span class="lnr lnr-phone"></span>
                            <h4><a href="#">Go (Weiqi)</a></h4>
                        </div>
                        <p>
                            The program integrates the STEAM learning with an introductory session on Go
                        </p>
                        <center><button type="button" class="btn btn-light" disabled>CA$ 450 + Tax</button></center>
                        <center>
                            <br>

                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>