<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #00897b;
        }

        .btn {
            font-size: 1rem;
        }

        .btn:hover {
            text-decoration: none;
        }

        .card-body {
            padding: 0px;
        }

        .card-text {
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
        }

        h4:hover {
            color: white;
        }
    </style>
</head>

<body>

    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Our Classrooms
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        Novaleaf is a Canadian leader in K-12 STEAM education, developing age-appropriate STEAM
                        solutions for the classrooms that engage students in exciting, experimental based education
                        programs that strengthen STEAM knowledge, promote innovation skills, and develop well-rounded
                        individuals. It aims at making students think through the lens of logic and hence preparing them
                        for the technological breakthrough in the future.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br><br><br><br><br>
    <!-- Start project Area -->
    <section class="project-area section-gap" id="project">
        <div class="container">
            <div class="title text-center">
                <h1 class="mb-10">Teaching Approach</h1>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <img class="img-fluid" src="/images/ELCC.png">
                </div>
                <div class="col-sm-1"></div>
            </div><br><br>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 1</h3>
                            </center>
                            <center>
                                <p class="card-text">Students are assigned some problems for exploring the solution
                                    on their own way. They walkthrough in order to familiarize themselves with it.</p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 2</h3>
                            </center>
                            <center>
                                <p class="card-text">Students share and explain their solutions. Everyone is encouraged
                                    to be involved in the discussion. The tutor summarizes
                                    the solutions & introduces related principles
                                </p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 3</h3>
                            </center>
                            <center>
                                <p class="card-text">Students do more similar problems to consolidate what they’ve
                                    learned. They combine solutions into a single more effective one.</p>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <center><br>
                                <h3 class="card-title">Step 4</h3>
                            </center>
                            <center>
                                <p class="card-text">Each student designs a similar problem for others to resolve, and
                                    students get award points in this step motivating them to design more creative
                                    problems</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->

    <!-- Start feature Area -->
    <section class="feature-area pt-50">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-50 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Kids Programs</h1>
                        <p>S.T.E.A.M. stands for science, technology, engineering, mathematics, and art. S.T.E.A.M
                            education helps to bridge the ethnic and gender gaps sometimes found in math and science
                            fields. Programs outside of school cannot only help children to see that S.T.E.A.M is more
                            than a class to finish, but also show the real-life implication of S.T.E.A.M can pull
                            together the ideas presented in school via various activities</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <img class="img-fluid" src="/images/Artboard.png">
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🧬 Secret of Science</a></h4>
                        </div>
                        <p>
                            Help children/students experience the misty phenomenon in real life, encourage students
                            exploring what’s behind the phenomenon by using knowledge of science in class and lead them
                            to realize how science is making things better for our life. By moving to an upper level of
                            study, students enable to develop a more advanced understanding of real-life problems based
                            on the concepts and fundamentals developed in the previous classes. Science is
                            one of the most important subjects a child can learn because of its relevance to our lives and its
                            capacity to apply these vital life-skills to everyday activities that students can relate to while studying.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🦾 Technology Innovation</a></h4>
                        </div>
                        <p>
                            We take the initiative to use robots and iPads as primary tools to teach
                            children programming and related STEAM knowledge. At NovaLeaf, we use
                            technology to teach technology and allow kids to think and explore the
                            infinite possibilities of the wonders of engineering, science, mathematics,
                            and arts. By teaching programming and STEAM in the most intriguing and advanced way,
                            NovaLeaf targets at helping students build up the best logical thinking and
                            the strongest observation, while still retaining children’s purest curiosity
                            of 'how', 'when', 'where' and 'what'! It'll help students gain more access to education
                            outside the classroom.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🖥️ Computer Science</a></h4>
                        </div>
                        <p>
                            We know how the world is being affected by the fast-growing IT industry and
                            how IT and Computer Science are touching every aspect of our lives! To keep pace with the
                            fast moving-world, we at NovaLeaf have our smartly
                            designed CS program to prepare your child to hit the world
                            with the right attitude for tomorrow. Our expert team of faculty members has
                            kept in mind the very requirement of today's market in designing the
                            curriculum to make it work perfectly with your child while keeping it simple
                            and yet productive.
                            Come and explore our Computer Science Programs and make your child ready for
                            tomorrow's technological evolution
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🎨 Fun Art- Design</a></h4>
                        </div>
                        <p>
                            In this course, students will be introduced to the elements & principles of art design,
                            allowing them to combine, build off & demonstrate these
                            concepts in future to produce more elaborate work. They will understand design techniques in
                            various mediums like drawing &
                            painting. They will utilize their imagination &
                            creativity to innovate while drawing inspiration
                            from nature
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🏴󠁧󠁢󠁥󠁮󠁧󠁿 English Literature</a></h4>
                        </div>
                        <p>
                            This is a program for English language learners who have had educational
                            opportunities to develop age-appropriate first-language literacy skills. The
                            program is designed mainly aiming at raising the ability of kids to read and
                            write. By introducing different literary forms, students get to cultivate
                            and enhance their aesthetic judgment through classic literary works.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>🇨🇳 Chinese</a></h4>
                        </div>
                        <p>
                            Diversity is a feature of the Halifax Community. At NovaLeaf, we value the
                            importance of this feature, and we are proud to provide multi-language
                            training. Chinese Language Training is a feature lesson in our language
                            training program. We using multi-media and anime to help students to
                            approach to Chinese language and reveal the misty of Chinese Culture
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>♟️ Chess</a></h4>
                        </div>
                        <p>
                            Chess is a fair game, it’s your kid, the board, and the other kid, no physical contact, only
                            the battle of minds. The King of Board Games has much more to surprise us than we ever
                            thought. Chess is, definitely, the game which will raise your kid’s IQ and it’s not a
                            surprise. A study showed that playing Chess increased IQ scores
                            after 4 months of instruction. Chess is the brilliant example of developing problem solving
                            skills. Let your child be confident, problem-solver through playing Chess
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a>📐 Comprehensive Math</a></h4>
                        </div>
                        <p>
                            Math is the language of God, and the misty is ready to reveal! This program
                            is aiming to help kids spread the joy of mathematics, improve children’s
                            logical and creative thinking skills, and facilitate children to obtain a
                            good score in different math contests. By using our customized curriculum,
                            students are not only reviewing what they are learning in school but also
                            developing and applying the mathematic skill on the projects that they will
                            be assigned to
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- End feature Area -->


</body>

</html>