<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/fav.png">
    <meta name="author" content="colorlib">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>NovaLeaf</title>
    <style>
        .mySlides {
            max-width: 100%;
            border-radius: 0%;
        }

        h6 {
            padding-top: 10px;
            color: #00897b;
            font-size: 1.5rem;
        }

        h4,
        h1 {
            color: #00897b;
        }

        h4:hover {
            color: #ffffff;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Partnership
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        As leader in K-12 STEAM Learning, we would love to share our mindset and manifest with the
                        world.<br>
                        We have been successfully partnered with many local organizations to hold a number of events for
                        the community. We expect to connect with more initiatives to expand our programs and services to
                        benefit more children’s futures.<br>
                        Currently Nova Leaf Learning Centre reaches more than 30,000 customers in Atlantic Canada, and
                        we expect to see the picture getting bigger!

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <div class="container"><br>
        <center><div class="col-sm-12">
            <h6>We want to see you succeed, and we can help!</h6><br>
        </div></center>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img class="img-fluid" src="/images/ITS.png">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br><center><a href="/contact-us" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Contact Us</a>
                </center><br>
            </div>
        </div>
    </div>

</body>

</html>