<html>

<head>
    <style>
        #hidden {
            overflow: hidden;
        }

        #bar {
            position: absolute;
            left: 0;
            right: 0;
            padding: 15px;
            background-size: 100%;
        }
    </style>
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area" id="bar">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg col-md-12">
                    <h1 class="text-white">
                        <br><br>Teacher Time Tables
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40" align="justify">
                        View time tables of all teachers currently enrolled at Novaleaf Edu
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>



</body>

</html>